// Social Networks
.social-networks-p14 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 985;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Social Networks > Main
.main-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Social Networks > Main > Title
.title-p14 {
  &.outer-style {
    height: 159px;
    width: 100%;
    min-height: 159px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 159px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Title > text
.text-1-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    padding: 15px;
  }
}
// Social Networks > Main > Title > Description
.description-p14 {
  &.outer-style {
    width: 99.94%;
    min-width: 0;
    align-self: center;
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Basic
.basic-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Basic > text
.usage-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
}
// Social Networks > Main > Basic > text 1
.v-color-picker-is-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Basic > Social Sharing
.email-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    font-size: 100px;
  }
}
// Social Networks > Main > Basic > Code Preview
.code-preview-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Social Networks > Main > Basic > text
.api-il-manque-des-p14 {
  &.outer-style {
    height: 119px;
    min-height: 119px;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
  &.template-style {
    max-height: 119px;
  }
}
// Social Networks > Main > Auto Grow
.auto-grow-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Auto Grow > text
.exemple-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
}
// Social Networks > Main > Auto Grow > text
.text-2-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 25px;
    padding: 15px;
  }
}
// Social Networks > Main > Auto Grow > text
.text-3-p14 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// Social Networks > Main > Auto Grow > text 1
.when-using-the-auto-grow-p14 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Auto Grow > Text area
.text-area-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Social Networks > Main > Auto Grow > Code Preview
.code-preview-1-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Social Networks > Main > Colors
.colors-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Colors > text
.background-color-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// Social Networks > Main > Colors > text 1
.the-background-color-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Colors > Text area 1
.text-area-1-p14 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.template-style {
    max-height: 200px;
  }
}
// Social Networks > Main > Colors > Code Preview
.code-preview-2-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Social Networks > Main > Autocomplete
.autocomplete-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 995;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Autocomplete > text
.browser-autocomplete-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// Social Networks > Main > Autocomplete > text 1
.the-autocomplete-prop-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Autocomplete > Text area
.text-area-1-p14 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.template-style {
    max-height: 200px;
  }
}
// Social Networks > Main > Autocomplete > Code Preview
.code-preview-3-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Social Networks > Main > Clearable
.clearable-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 995;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Clearable > text
.text-4-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// Social Networks > Main > Clearable > text 1
.you-can-clear-the-text-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Clearable > Text area
.this-is-clearable-text-p14 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.template-style {
    max-height: 200px;
  }
}
// Social Networks > Main > Clearable > Code Preview
.code-preview-4-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Social Networks > Main > Counter
.counter-p14 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 994;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Social Networks > Main > Counter > text
.text-5-p14 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// Social Networks > Main > Counter > text 1
.the-counter-prop-informs-p14 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Social Networks > Main > Counter > Text area
.text-area-2-p14 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.template-style {
    max-height: 200px;
  }
}
// Social Networks > Main > Counter > Code Preview
.code-preview-5-p14 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}