// ToggleButtons
.toggle-buttons-p7 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 992;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// ToggleButtons > Main
.main-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// ToggleButtons > Main > Sous Main
.sous-main-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// ToggleButtons > Main > Sous Main > Titre
.titre-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 15px 0;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation
.utilisation-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.property-style {
    padding: 25px 0 0 0;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Titre-categorie
.titre-categorie-p7 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > text 1
.toggle-buttons-allow-p7 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container
.container-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-1-p7 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.exclusive-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.choix-avec-boutons-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-2-p7 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.multiple-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.toggle-button-1-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-3-p7 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    padding: 10px;
    z-index: 998;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.no-options-selected-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.toggle-button-2-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-4-p7 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    padding: 10px;
    z-index: 997;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.mandatory-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.toggle-button-3-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-5-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 996;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.text-options-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.toggle-button-4-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container
.container-6-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 995;
  }
  &.property-style {
    padding: 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > text
.text-amp-icon-options-p7 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Utilisation > Container > Container > Choix avec boutons
.toggle-button-5-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > API
.api-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > API > API
.text-1-p7 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// ToggleButtons > Main > Sous Main > Example
.example-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Example > Examples
.examples-p7 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props
.props-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Props
.text-2-p7 {
  &.outer-style {
    padding: 0 0 8px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Mandatory
.container-7-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Mandatory > text
.text-3-p7 {
  &.outer-style {
    padding: 0 0 4px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Mandatory > text 1
.a-toggle-buttons-with-p7 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Mandatory > Mandatory
.toggle-button-6-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Code Preview
.code-preview-p7 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Multiple
.container-8-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 50px 0 48px 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Multiple > text
.text-4-p7 {
  &.outer-style {
    padding: 0 0 4px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Multiple > text 1
.text-5-p7 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Multiple > Multiple
.toggle-button-7-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Code Preview 1
.code-preview-1-p7 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded
.rounded-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 50px 0 48px 0;
    z-index: 995;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded > text
.text-6-p7 {
  &.outer-style {
    padding: 0 0 4px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded > text 1
.you-can-make-toggle-buttons-p7 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded > Container
.container-9-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
    justify-content: center;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded > Container > Rounded
.toggle-button-8-p7 {
  &.outer-style {
    background-color: #b3b3b3ff;
    width: 40%;
    min-width: 0;
    padding: 5px;
    z-index: 1000;
  }
  &.property-style {
    color: #000000ff;
    border-radius: 99px;
    overflow: hidden;
  }
}
// ToggleButtons > Main > Sous Main > Example > Props > Rounded > Code Preview 1
.code-preview-1-p7 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// ToggleButtons > Right Panel
.right-panel-p7 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// ToggleButtons > Right Panel > Sous Nav
.sous-nav-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container
.container-10-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container > text
.contents-p7 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1
.container-11-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > titre
.text-7-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-7-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > titre
.text-8-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-8-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > titre
.text-9-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-9-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie-p7 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-10-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-10-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-11-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-11-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-12-p7 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-12-p7 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// ToggleButtons > Icon
.icon-p7 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}