// QR Code
.qr-code-p15 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 984;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// QR Code > Main
.main-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// QR Code > Main > Title
.title-p15 {
  &.outer-style {
    height: 96px;
    width: 100%;
    min-height: 96px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 96px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Main > Title > text
.text-1-p15 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    padding: 15px;
  }
}
// QR Code > Main > Basic
.basic-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Main > Basic > text
.simple-usage-p15 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
}
// QR Code > Main > Basic > text 1
.just-set-a-value-for-p15 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// QR Code > Main > Basic > Qr Code
.qr-code-1-p15 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 200px;
  }
}
// QR Code > Main > Basic > Code Preview
.code-preview-p15 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// QR Code > Main > Basic > text
.api-il-manque-des-p15 {
  &.outer-style {
    height: 119px;
    min-height: 119px;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
  &.template-style {
    max-height: 119px;
  }
}
// QR Code > Main > Auto Grow
.auto-grow-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Main > Auto Grow > text
.exemple-p15 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
}
// QR Code > Main > Auto Grow > text
.usage-p15 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 25px;
    padding: 15px;
  }
}
// QR Code > Main > Auto Grow > text
.dynamic-value-p15 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// QR Code > Main > Auto Grow > text 1
.you-can-use-v-bind-p15 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// QR Code > Main > Auto Grow > Texte qr code
.texte-qr-code-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 996;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// QR Code > Main > Auto Grow > Qr Code
.qr-code-2-p15 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 200px;
  }
}
// QR Code > Main > Auto Grow > Code Preview
.code-preview-1-p15 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 994;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// QR Code > Main > Colors
.colors-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Main > Colors > text
.colors-and-sizing-p15 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// QR Code > Main > Colors > text 1
.you-can-fix-the-qr-p15 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// QR Code > Main > Colors > Container
.container-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// QR Code > Main > Colors > Container > Qr Code
.qr-code-3-p15 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 200px;
  }
}
// QR Code > Main > Colors > Container > Qr Code
.qr-code-4-p15 {
  &.outer-style {
    height: 200px;
    width: 100%;
    min-height: 200px;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 200px;
  }
}
// QR Code > Main > Colors > Code Preview
.code-preview-2-p15 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// QR Code > Main > Autocomplete
.autocomplete-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Main > Autocomplete > text
.error-correction-level-p15 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 20px;
    padding: 15px;
  }
}
// QR Code > Main > Autocomplete > text 1
.text-2-p15 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// QR Code > Main > Autocomplete > Container
.container-1-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// QR Code > Main > Autocomplete > Container > Qr Code
.qr-code-5-p15 {
  &.outer-style {
    height: 200px;
    width: 276.5px;
    min-height: 200px;
    min-width: 276.5px;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-width: 276.5px;
    max-height: 200px;
  }
}
// QR Code > Main > Autocomplete > Container > Qr Code
.qr-code-6-p15 {
  &.outer-style {
    height: 200px;
    width: 240.815px;
    min-height: 200px;
    min-width: 240.815px;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-width: 240.815px;
    max-height: 200px;
  }
}
// QR Code > Main > Autocomplete > Container > Qr Code
.qr-code-7-p15 {
  &.outer-style {
    height: 200px;
    width: 287px;
    min-height: 200px;
    min-width: 287px;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-width: 287px;
    max-height: 200px;
  }
}
// QR Code > Main > Autocomplete > Container > Qr Code
.qr-code-8-p15 {
  &.outer-style {
    height: 200px;
    width: 262px;
    min-height: 200px;
    min-width: 262px;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-width: 262px;
    max-height: 200px;
  }
}
// QR Code > Main > Autocomplete > Code Preview
.code-preview-3-p15 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// QR Code > Right Panel
.right-panel-p15 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 998;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// QR Code > Right Panel > Sous Nav
.sous-nav-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Right Panel > Sous Nav > Container
.container-2-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// QR Code > Right Panel > Sous Nav > Container > text
.contenu-p15 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1
.container-3-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > titre
.titre-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > titre
.text-3-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-3-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > titre
.text-4-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-4-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie-p15 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-5-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-5-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-6-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-6-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-7-p15 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-7-p15 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// QR Code > Icon
.icon-p15 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}