.pagination{
  height: 100%;
  width: 100%;
}
.previous{
  float: left;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #0D5E9C;
}
.previous i{
  margin-right: 1em;
}
.next{
  float: right;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #0D5E9C;
}
.next i{
  margin-left: 1em;
}
