// Date Time pickers
.date-time-pickers-p9 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 990;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Date Time pickers > Main
.main-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Date Time pickers > Main > Sous Main
.sous-main-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Date Time pickers > Main > Sous Main > Titre
.titre-p9 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 15px 0;
  }
}
// Date Time pickers > Main > Sous Main > text 1
.ka-date-picker-is-a-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Date Time pickers > Main > Sous Main > Utilisation
.utilisation-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.property-style {
    padding: 25px 0 0 0;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Main > Sous Main > Utilisation > text 1
.usage-date-pickers-p9 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Date Time pickers > Main > Sous Main > API
.api-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Main > Sous Main > API > API
.text-1-p9 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// Date Time pickers > Main > Sous Main > Exemple
.exemple-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes
.proprietes-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Couleurs
.couleurs-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Couleurs > text 1
.colors-date-p9 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Couleurs > Sample Colors
.sample-colors-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Couleurs > Sample Colors > Saisie de date / heure
.saisie-de-date-heure-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 1000;
  }
  &.property-style {
    color: #56ae2fff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Couleurs > Sample Colors > Saisie de date / heure
.date-time-picker-1-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #10779fff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Code Preview
.code-preview-p9 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting
.formatting-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 60px 0 48px 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > text 1
.formatting-with-external-p9 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > Formatting
.container-1-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > Formatting > Saisie de date
.saisie-de-date-p9 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    padding: 5px;
    z-index: 1000;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > Formatting > Saisie de date
.date-picker-1-p9 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > Formatting > Saisie de date
.date-picker-2-p9 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    padding: 5px;
    z-index: 998;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Formatting > Formatting > Saisie de date
.date-picker-3-p9 {
  &.outer-style {
    width: 50%;
    min-width: 0;
    padding: 5px;
    z-index: 997;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
}
// Date Time pickers > Main > Sous Main > Exemple > Proprietes > Code Preview 1
.code-preview-1-p9 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Date Time pickers > Right Panel
.right-panel-p9 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Date Time pickers > Right Panel > Sous Nav
.sous-nav-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container
.container-2-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container > text
.contenu-p9 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1
.container-3-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > titre
.text-2-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-2-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > titre
.text-3-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-3-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > titre
.text-4-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-4-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie-p9 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-5-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-5-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-6-p9 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-6-p9 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Date Time pickers > Icon
.icon-p9 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}