// Afficheur de page web
.afficheur-de-page-web-p16 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 983;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Afficheur de page web > Main
.main-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Afficheur de page web > Main > Title
.title-p16 {
  &.outer-style {
    height: 96px;
    width: 100%;
    min-height: 96px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 96px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Afficheur de page web > Main > Title > text
.text-1-p16 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    padding: 15px;
  }
}
// Afficheur de page web > Main > Basic
.basic-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Afficheur de page web > Main > Basic > text
.simple-usage-p16 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2rem;
    padding: 15px;
  }
}
// Afficheur de page web > Main > Basic > text 1
.just-set-an-url-in-p16 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Afficheur de page web > Main > Basic > Iframe
.iframe-p16 {
  &.outer-style {
    height: 300%;
    width: 100%;
    min-height: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    overflow: hidden;
  }
}
// Afficheur de page web > Main > Basic > Code Preview
.code-preview-p16 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 997;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Afficheur de page web > Right Panel
.right-panel-p16 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 998;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Afficheur de page web > Right Panel > Sous Nav
.sous-nav-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container
.container-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container > text
.contenu-p16 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1
.container-1-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > titre
.titre-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .titre-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > titre
.text-2-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-2-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > titre
.text-3-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-3-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie-p16 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-4-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-4-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-5-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-5-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-6-p16 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-6-p16 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Afficheur de page web > Icon
.icon-p16 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}