.container-main{
  position: fixed;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid black;
  overflow-y: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-content{
  margin-left: 2%;
  margin-right: 2%;
}
.dark {
  background-color: black;
  color: white;
  border-color: white;
}
.light {
  background-color: white;
  color: black;
  border-color: black;
}