// Map
.map-p12 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 987;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main
.main-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 1;
      z-index: 999;
    }
  }
}
// Map > Main > Sous Main
.sous-main-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    font-family: Roboto;
    padding: 32px 32px 32px 32px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Main > Sous Main > Titre
.titre-p12 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 15px 0;
  }
}
// Map > Main > Sous Main > Utilisation
.utilisation-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.property-style {
    padding: 25px 0 0 0;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Main > Sous Main > Utilisation > Titre-categorie
.titre-categorie-p12 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// Map > Main > Sous Main > Utilisation > text 1
.google-map-p12 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Map > Main > Sous Main > Utilisation > Container
.container-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 25px 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Map
.leaflet-1-p12 {
  &.outer-style {
    height: 550px;
    width: 60%;
    min-height: 550px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 550px;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container
.container-1-p12 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-2-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.minus-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Zoom (1 - 18)
.zoom-118-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.plus-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-3-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.icon-1-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Min Zoom
.min-zoom-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.icon-2-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-4-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.icon-3-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Max Zoom
.max-zoom-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.icon-4-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > text 1
.street-map-p12 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Map > Main > Sous Main > Utilisation > Container
.container-5-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Map
.leaflet-2-p12 {
  &.outer-style {
    height: 550px;
    width: 60%;
    min-height: 550px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 550px;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container
.container-6-p12 {
  &.outer-style {
    width: 40%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-7-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.icon-5-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Zoom (1 - 18)
.number-1-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.icon-6-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-8-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.icon-7-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Min Zoom
.number-2-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.icon-8-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container
.container-9-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > minus
.icon-9-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: end;
    z-index: 1000;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 20px 0 0;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > Max Zoom
.number-3-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px 5px 15px 5px;
    z-index: 999;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Map > Main > Sous Main > Utilisation > Container > Container > Container > plus
.icon-10-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: start;
    z-index: 998;
  }
  &.inner-style {
    width: auto;
  }
  &.property-style {
    text-align: center;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
}
// Map > Main > Sous Main > API
.api-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Main > Sous Main > API > API
.text-1-p12 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// Map > Main > Sous Main > Example
.example-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Main > Sous Main > Example > Examples
.examples-p12 {
  &.outer-style {
    padding: 0 0 12px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2.125rem;
    font-weight: 400;
  }
}
// Map > Main > Sous Main > Example > Props
.props-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Main > Sous Main > Example > Props > Props
.text-2-p12 {
  &.outer-style {
    padding: 0 0 8px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
// Map > Main > Sous Main > Example > Props > Mandatory
.mandatory-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 48px 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Main > Sous Main > Example > Props > Mandatory > text
.tile-layer-p12 {
  &.outer-style {
    padding: 0 0 4px 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
// Map > Main > Sous Main > Example > Props > Mandatory > text 1
.text-3-p12 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Map > Main > Sous Main > Example > Props > Mandatory > StreetMap
.leaflet-3-p12 {
  &.outer-style {
    height: 550px;
    width: 100%;
    min-height: 550px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 550px;
  }
}
// Map > Main > Sous Main > Example > Props > Code Preview
.code-preview-p12 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Map > Right Panel
.right-panel-p12 {
  &.outer-style {
    width: 250px;
    min-width: 250px;
    position: sticky;
    z-index: 999;
    inset: 0px auto auto 0px;
  }
  &.template-style {
    max-width: 250px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 0;
      width: 100%;
      min-width: 0;
      overflow: inherit;
      position: inherit;
      z-index: 1000;
      inset: inherit;
      transform: translateX(0) translateY(0);
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Map > Right Panel > Sous Nav
.sous-nav-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1001;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Right Panel > Sous Nav > Container
.container-10-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Right Panel > Sous Nav > Container > text
.contents-p12 {
  &.outer-style {
    padding: 16px 0 8px 16px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.75rem;
  }
}
// Map > Right Panel > Sous Nav > Container 1
.container-11-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 0 24px;
    z-index: 998;
  }
  &.property-style {
    color: #6c6c6cff;
    border-width: 0 0 0 3px;
    border-color: #9c9c9cff;
    border-style: solid;
    padding: 0 0 0 10px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > titre
.text-4-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-4-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > titre
.text-5-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-5-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > titre
.text-6-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-6-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie
.sous-categorie-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-titre
.sous-titre-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .sous-titre-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.25rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie
.sous-sous-categorie-p12 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    padding: 0 0 0 12px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-7-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-7-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-8-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-8-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Right Panel > Sous Nav > Container 1 > sous-categorie > sous-sous-categorie > sous-titre
.text-9-p12 {
  &.outer-style {
    &.state-selected:not(#\ ):not(#\ ) {
      .text-9-p12 {
        &.property-style {
          border-width: 0 0 0 3px;
          border-style: solid;
        }
      }
    }
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1rem;
    padding: 4px 0 4px 12px;
    cursor: pointer;
  }
}
// Map > Icon
.icon-11-p12 {
  &.outer-style {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    position: absolute;
    z-index: 997;
    inset: auto 50px 50px auto;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 9999px 9999px 9999px 9999px;
    overflow: hidden;
    font-size: 33.333333333333336px;
    text-align: center;
    cursor: pointer;
  }
  &.template-style {
    max-width: 50px;
    max-height: 50px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      order: 2;
      z-index: 998;
    }
  }
}