// Image
.image-p11 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 988;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Image > Section 1
.section-1-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 50px 0 50px 0;
    z-index: 1000;
  }
  &.inner-style {
    max-width: 1200px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 1 > Grand titre
.grand-titre-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 5px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
}
// Image > Section 1 > Description
.description-p11 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
  }
}
// Image > Section 2
.section-2-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 50px 0 50px 0;
    z-index: 999;
  }
  &.inner-style {
    max-width: 1200px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 2 > Titre
.titre-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Image > Section 2 > Description
.text-1-p11 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
  }
}
// Image > Section 2 > Code viewer
.code-viewer-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.property-style {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 2 > Code viewer > Options
.options-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Image > Section 2 > Code viewer > Options > Options
.text-2-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 400px;
    align-self: flex-end;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    border-width: 0 0 0 1px;
    border-style: solid;
    font-weight: bold;
    padding: 10px;
  }
}
// Image > Section 2 > Code viewer > Paramétrage
.parametrage-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.property-style {
    border-width: 1px 0 1px 0;
    border-style: solid;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Conteneur image
.conteneur-image-p11 {
  &.outer-style {
    height: 400px;
    width: 100%;
    min-height: 400px;
    min-width: 0;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-width: 0 1px 0 0;
    border-style: solid;
  }
  &.template-style {
    max-height: 400px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Conteneur image > Element image
.element-image-p11 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    max-height: 300px;
    max-width: 500px;
    z-index: 1000;
  }
  &.inner-style {
    height: 100%;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Options
.container-1-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 400px;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Options > Ajustement
.ajustement-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 1000;
  }
  &.property-style {
    color: #000000ff;
    background-color: white;
    border: 1px solid #000000ff;
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Options > Hauteur max
.hauteur-max-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 999;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Image > Section 2 > Code viewer > Paramétrage > Options > Largeur max
.largeur-max-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 10px;
    z-index: 998;
  }
  &.label-style {
    font-weight: bold;
  }
}
// Image > Section 2 > Code viewer > Code Preview
.code-preview-p11 {
  &.outer-style {
    height: 500px;
    width: 100%;
    min-height: 500px;
    min-width: 0;
    z-index: 998;
  }
  &.inner-style {
    height: 100%;
  }
  &.template-style {
    max-height: 500px;
  }
}
// Image > Section 3
.section-3-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 50px 0 50px 0;
    z-index: 998;
  }
  &.inner-style {
    max-width: 1200px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 3 > Titre
.h-2-1-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Image > Section 3 > Description
.text-3-p11 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
  }
}
// Image > Section 4
.section-4-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 50px 0 50px 0;
    z-index: 997;
  }
  &.inner-style {
    max-width: 1200px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 4 > Titre
.h-2-2-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Image > Section 4 > Description
.text-4-p11 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
  }
}
// Image > Section 5
.section-5-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 50px 0 50px 0;
    z-index: 996;
  }
  &.inner-style {
    max-width: 1200px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Image > Section 5 > Titre
.h-2-3-p11 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }
}
// Image > Section 5 > Description
.text-5-p11 {
  &.outer-style {
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
  }
}